extends layout

block content
  h1 redirection
  p you will be redirected shortly...
  p(id='message') 

  script.
    const url = "#{url}";
    const message = document.getElementById("message");

    fetch("/api/extract?" + new URLSearchParams({url}), 
    {
      method: "GET",
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        }
        
        let whatis = {
          400: "bad request",
          404: "url not found",
          500: "internal server error"
        };

        throw new Error(`error ${response.status}: ${whatis[response.status] || "something went wrong"}`);
      })
      .then(json => {
        window.location.href = json.url;
      })
      .catch(err => {
        console.error(err);
        message.innerHTML = err.message;
      })